body {
    font-family: Consolas, sans-serif;
    background-color: #F0F0F0;
    color: #101010;
    text-align: left;
    line-height: 1.25;
    margin: 20px;
    padding: 20px;
}

h1 {
    font-family: Consolas, sans-serif;
    color: #404040;
}

p {
    font-family: 'Segoe UI', sans-serif;
    color: #101010;
}

.theme-toggle {
    cursor: pointer;
    position: fixed;
    top: 32px;
    right: 32px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.theme-toggle img {
    width: 32px;
    height: 32px;
}

body.dark-mode {
    background-color: #404040;
    color: #F0F0F0;
}

body.dark-mode h1 {
    color: #C0C0C0;
}

body.dark-mode p {
    color: #F0F0F0;
}

.custom-button {
	z-index: 1;
    cursor: pointer;
    background: linear-gradient(to right, #DDCC00, #B7A800);
    background-size: 200% 100%;
	font-family: Consolas, sans-serif;
	font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-position 0.3s;
    position: relative;
    overflow: hidden;
}

.custom-button::before {
	z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-button:hover {
    background-position: -100% 0;
}

.custom-button:hover::before {
    opacity: 1;
}

.custom-button span {
    position: relative;
    z-index: 2;
}

.custom-button-0 {
	background: linear-gradient(to right, #2FB7E0, #2F59E0);
}

.custom-button-0::before {
    background-image: url('resources/IMG-CareerTree.png');
}

.custom-button-1 {
	background: linear-gradient(to right, #642FE0, #C22FE0);
}

.custom-button-1::before {
    background-image: url('resources/IMG-ImageEdit.png');
}

.custom-button-1:hover {
    color: #000000;
}

.custom-button-2 {
	background: linear-gradient(to right, #E02F9F, #E02F41);
}

.custom-button-2::before {
    background-image: url('resources/IMG-SonicEdit.png');
}