:root {
	--col-l-0-h: 197;
	--col-r-0-h: 237;
	--col-l-1-h: 237;
	--col-r-1-h: 320;
	--col-l-2-h: 320;
	--col-r-2-h: 20;
	--col-l-0: #2FB7E0;
	--col-r-0: #582FE0;
	--col-l-1: #582FE0;
	--col-r-1: #E02FB7;
	--col-l-2: #E02FB7;
	--col-r-2: #E0582F;
}

body {
    font-family: Consolas, sans-serif;
    background-color: #F0F0F0;
    color: #101010;
    text-align: left;
    line-height: 1.25;
    margin: 20px;
    padding: 20px;
}

h1 {
    font-family: Consolas, sans-serif;
    color: #404040;
}

p {
    font-family: 'Segoe UI', sans-serif;
    color: #101010;
}

.theme-toggle {
    cursor: pointer;
    position: fixed;
    top: 32px;
    right: 32px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.theme-toggle img {
    width: 32px;
    height: 32px;
}

body.dark-mode {
    background-color: #404040;
    color: #F0F0F0;
}

body.dark-mode h1 {
    color: #C0C0C0;
}

body.dark-mode p {
    color: #F0F0F0;
}

.custom-button-container {
    position: relative;
    display: inline-block;
}

.info-text {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #C0C0C0;
	font-family: 'Segoe UI', sans-serif;
	font-size: 12px;
    color: #404040;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.50s ease-out;
    transform: translateY(-50%);
    opacity: 0;
    z-index: -1;
    border: none;
    border-radius: 4px;
}

.custom-button-container:hover .info-text {
    transform: translateY(10%);
    opacity: 1;
    z-index: 1;
}

.custom-button {
    position: relative;
    z-index: 2;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--col-l-0), var(--col-r-0));
    font-family: Consolas, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
}

.custom-button-0 {
	z-index: 2;
	position: relative;
    background-image: linear-gradient(to right, var(--col-l-0), var(--col-r-0));
}

.custom-button-0::before {
	z-index: -2;
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, hsl(calc(var(--col-l-0-h) - 150), 100%, 50%), hsl(calc(var(--col-r-0-h) - 180), 100%, 50%));
	transition: opacity 0.75s linear;
	opacity: 0;
    border-radius: 4px;
}

.custom-button-0:hover::before {
	opacity: 1;
}

.custom-button-1 {
	z-index: 2;
	position: relative;
    background-image: linear-gradient(to right, var(--col-l-1), var(--col-r-1));
}

.custom-button-1::before {
	z-index: -2;
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, hsl(calc(var(--col-l-1-h) - 150), 100%, 50%), hsl(calc(var(--col-r-1-h) - 180), 100%, 50%));
	transition: opacity 0.75s linear;
	opacity: 0;
    border-radius: 4px;
}

.custom-button-1:hover::before {
	opacity: 1;
}

.custom-button-2 {
	z-index: 2;
	position: relative;
    background-image: linear-gradient(to right, var(--col-l-2), var(--col-r-2));
}

.custom-button-2::before {
	z-index: -2;
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, hsl(calc(var(--col-l-2-h) - 150), 100%, 50%), hsl(calc(var(--col-r-2-h) - 180), 100%, 50%));
	transition: opacity 0.75s linear;
	opacity: 0;
    border-radius: 4px;
}

.custom-button-2:hover::before {
	opacity: 1;
}