:root {
	--col-W-A: #F0F0F0;
	--col-W-B: #C0C0C0;
	--col-W-C: #909090;
	--col-G-A: #707070;
	--col-G-B: #404040;
	--col-B-A: #101010;
	
	--col-0-L-h: 197;
	--col-0-R-h: 237;
	--col-1-L-h: 237;
	--col-1-R-h: 320;
	--col-2-L-h: 320;
	--col-2-R-h: 20;
	--col-0-L: #2FB7E0;
	--col-0-R: #582FE0;
	--col-1-L: #582FE0;
	--col-1-R: #E02FB7;
	--col-2-L: #E02FB7;
	--col-2-R: #E0582F;
}

* {
  box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
	font-size: 16px;
    color: var(--col-B-A);
    background-color: var(--col-W-A);
    text-align: left;
    line-height: 1.25;
    margin: 24px;
    padding: 24px;
}

h1 {
    font-family: 'Consolas', 'Andale Mono', 'Lucida Console', 'Courier New', 'Courier', monospace;
	font-size: 36px;
	font-weight: bold;
    color: var(--col-G-B);
}

h2 {
	font-family: 'Consolas', 'Andale Mono', 'Lucida Console', 'Courier New', 'Courier', monospace;
	font-size: 24px;
	font-weight: lighter;
	color: var(--col-G-A);
}

h3 {
	font-family: 'Consolas', 'Andale Mono', 'Lucida Console', 'Courier New', 'Courier', monospace;
	font-size: 18px;
	font-weight: lighter;
	color: var(--col-G-A);
}

p {
    font-family: 'Segoe UI', sans-serif;
	font-size: 16px;
    color: var(--col-B-A);
}

summary {
	cursor: pointer;
	font-family: 'Consolas', 'Andale Mono', 'Lucida Console', 'Courier New', 'Courier', monospace;
	font-size: 18px;
	font-weight: lighter;
	color: var(--col-G-A);
}

iframe {
	border: none;
}

.theme-toggle {
    cursor: pointer;
    position: fixed;
    top: 32px;
    right: 32px;
    background: none;
    border: none;
    padding: 0;
}

.theme-toggle img {
    width: 24px;
    height: 24px;
}

body.dark-mode {
    background-color: var(--col-G-B);
    color: var(--col-W-A);
}

body.dark-mode h1 {
    color: var(--col-W-B);
}

body.dark-mode h2 {
    color: var(--col-W-C);
}

body.dark-mode h3 {
    color: var(--col-0-L);
}

body.dark-mode p {
    color: var(--col-W-A);
}

body.dark-mode summary {
	color: var(--col-0-L)
}

/**/

.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 0;
    margin: 0;
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -24px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0 24px;
    text-align: left;
}

.navbar li {
    display: inline-block;
    margin-right: 24px;
}

.navbar a {
    color: var(--col-0-L);
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
}

.navbar a:hover {
    color: hsl(var(--col-0-L-h), 100%, 33%);
}

/**/

.custom-button-container {
    position: relative;
    display: inline-block;
}

.info-text {
	z-index: -1;
    position: absolute;
    top: 100%;
    left: 0;
	min-width: 64px;
	max-width: 100%;
    background-color: var(--col-W-B);
	font-family: 'Segoe UI', sans-serif;
	font-size: 12px;
    color: var(--col-G-B);
    padding: 8px;
    transition: all 0.50s ease-out;
    transform: translateY(-50%);
    opacity: 0;
    z-index: -1;
    border: none;
    border-radius: 4px;
}

.custom-button-container:hover .info-text {
    transform: translateY(4%);
    opacity: 1;
    z-index: 1;
}

/**/

.custom-button {
    position: relative;
    z-index: 2;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--col-0-L), var(--col-0-R));
    font-family: 'Consolas', 'Andale Mono', 'Lucida Console', 'Courier New', 'Courier', monospace;

    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
}

.custom-button-0 {
	z-index: 2;
	position: relative;
    background-image: linear-gradient(to right, var(--col-0-L), var(--col-0-R));
}

.custom-button-0::before {
	z-index: -2;
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, hsl(calc(var(--col-0-L-h) - 150), 100%, 50%), hsl(calc(var(--col-0-R-h) - 180), 100%, 50%));
	transition: opacity 0.75s linear;
	opacity: 0;
    border-radius: 4px;
}

.custom-button-0:hover::before {
	opacity: 1;
}

.custom-button-1 {
	z-index: 2;
	position: relative;
    background-image: linear-gradient(to right, var(--col-1-L), var(--col-1-R));
}

.custom-button-1::before {
	z-index: -2;
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, hsl(calc(var(--col-1-L-h) - 150), 100%, 50%), hsl(calc(var(--col-1-R-h) - 180), 100%, 50%));
	transition: opacity 0.75s linear;
	opacity: 0;
    border-radius: 4px;
}

.custom-button-1:hover::before {
	opacity: 1;
}

.custom-button-2 {
	z-index: 2;
	position: relative;
    background-image: linear-gradient(to right, var(--col-2-L), var(--col-2-R));
}

.custom-button-2::before {
	z-index: -2;
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, hsl(calc(var(--col-2-L-h) - 150), 100%, 50%), hsl(calc(var(--col-2-R-h) - 180), 100%, 50%));
	transition: opacity 0.75s linear;
	opacity: 0;
    border-radius: 4px;
}

.custom-button-2:hover::before {
	opacity: 1;
}

/**/

.logo-link {
	z-index: 2;
	cursor: pointer;
    position: relative;
	margin-top: 24px;
	margin-right: 12px;
    background: none;
    border: none;
    padding: 0;
}

.logo-link img {
    width: 64px;
    height: 64px;
}

/**/

.magic-text {
	color: #DDCC00;
	cursor: pointer;
}